@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.container {
    display: flex;
    gap: 3vh;
    background-color: var(--cor-secundaria);
    padding: 15%;
    padding-top: 3%;
}

.guia {
    margin-left: var(--tamanho-da-side-bar);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    z-index: 1000;
    color: white;
    font-family: 'Anton', sans-serif;
}

.guia .item a {
    color: white;
    font-size: xx-large;
    text-decoration: none;
}

.guia .item#selecionado a {
    color: purple;
    text-decoration: none;
}

.conteudo {
    margin-left: var(--tamanho-da-side-bar);
    padding: 20px;
    color: white;
    font-size: x-large;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.conteudo h2{
    font-family: 'Anton', sans-serif;
    color: purple;
    font-style: italic;
}

.conteudo p{
    font-family: 'Open Sans', sans-serif;
}

.conteudo label{
    font-family: 'Anton', sans-serif;
}

.classes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin-inline: auto;
}

.classes label {
    padding: 10px 20px;
    color: white;
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
    font-weight: bold;
}

.classes label:hover {
    background-color: #666;
}

input[type="radio"] {
    display: none;
}

.img_classes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    gap: 1.5rem;
}

.img_classes img {
    width: 50%;                
    height: auto;             
    aspect-ratio: 16 / 9;     
    object-fit: cover;        
    border: 5px solid purple;  
    border-radius: 10px;
    display: block;
    margin: 0 auto;        
}

.img_classes {
    display: none;
}

#guerreiro:checked~.info_classes .img_guerreiro,
#tank:checked~.info_classes .img_tank,
#assassino:checked~.info_classes .img_assassino,
#mago:checked~.info_classes .img_mago,
#atirador:checked~.info_classes .img_atirador,
#curandeiro:checked~.info_classes .img_curandeiro,
#suporte:checked~.info_classes .img_suporte {
    display: block;
}

#guerreiro:checked~.classes label[for="guerreiro"],
#tank:checked~.classes label[for="tank"],
#assassino:checked~.classes label[for="assassino"],
#mago:checked~.classes label[for="mago"],
#atirador:checked~.classes label[for="atirador"],
#curandeiro:checked~.classes label[for="curandeiro"],
#suporte:checked~.classes label[for="suporte"] {
    color: purple;
}

.botao-escolher {
    padding: 12px 30px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: purple;
    border: 2px solid purple;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-transform: uppercase;
}
.botao-escolher:hover {
    background-color: white;
    color: purple;
    border: 2px solid purple;
    transform: scale(1.05);
}
