.fichario {
    margin-left: var(--tamanho-da-side-bar);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

.ficha {
    margin: 25px;
    margin-right: 0;
    width: 795px;
    height: 150px;
    background: rgb(19,18,17);
    border-radius: 10px;
    position: relative;
}

@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.ficha::after, .ficha::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle),red, white, red);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 3px;
    border-radius: 10px;
    animation: 3s spin linear infinite;
}

.ficha::before {
    filter: blur(1.5rem);
    opacity: 0.5;
}

@keyframes spin {
    from {
        --angle: 0deg;
    }
    to {
        --angle: 360deg;
    }
}

.art {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    float: left;
}

.listainfo {
    margin-left: 175px;
    font-size: x-large;
    flex-wrap: wrap;
    display: flex;
    row-gap: 30px;
    column-gap: 130px;
    margin-top: 30px;
    margin-bottom: 20px;
    color: white;
    list-style-type: none;
    font-family: 'Anton', sans-serif;
}

.artbut {
    text-decoration: none;
}