@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
    /* Remove o espaçamento entre os cards */
    background-color: var(--cor-secundaria);
    padding: 0;
    padding-top: 3%;
}

.card {
    margin-bottom: 0 !important;
    /* remove margem do Bootstrap */
}

button.btn-link span:first-child {
    font-size: 1.25rem;
    /* igual a um h5 */
    font-weight: 500;
    font-family: inherit;
}

.seta-baixo {
    display: inline-block;
    transition: transform 0.3s ease;
    font-size: 1.2em;
    color: white;
    user-select: none;
}

button[aria-expanded="true"] .seta-baixo {
    transform: rotate(180deg);
    color: purple;
}

button.btn-link {
    gap: 0.5rem;
    /* espaço entre texto e seta */
}

.guia {
    margin-left: var(--tamanho-da-side-bar);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    z-index: 1000;
    color: white;
    font-family: 'Anton', sans-serif;
}

.guia .item a {
    color: white;
    font-size: xx-large;
    text-decoration: none;
}

.guia .item#selecionado a {
    color: purple;
    text-decoration: none;
}

.conteudo {
    margin-left: var(--tamanho-da-side-bar);
    padding: 20px;
    color: white;
    font-size: x-large;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.conteudo h2 {
    font-family: 'Anton', sans-serif;
    color: purple;
    font-style: italic;
}

.conteudo p {
    font-family: 'Open Sans', sans-serif;
}

.conteudo h6 {
    font-family: 'Open Sans', sans-serif;
}



.label {
    display: inline-block;
    position: relative;
    cursor: pointer;
    user-select: none;
}


.label .radio-button {
    background-color: purple;
    color: white;
    border: 2px solid;
    border-color: purple;
    text-align: center;
    transition: background-color 0.3s, transform 0.2s ease;
}

.label input:checked~.radio-button {
    background-color: white;
    color: black;
}

.label:hover .radio-button {
    background-color: white;
    color: black;
}

.botao-escolher {
    padding: 12px 30px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: purple;
    border: 2px solid purple;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-transform: uppercase;
}

.botao-escolher:hover {
    background-color: white;
    color: purple;
    border: 2px solid purple;
    transform: scale(1.05);
}

/* Cor roxa padrão */
.btn-purple {
    background-color: #6f42c1;
    color: white;
    border: 1px solid #6f42c1;
}

.btn-purple:hover {
    background-color: #5a32a3;
}

/* Esconde o input */
input[type="radio"] {
    display: none;
}

/* Quando o input estiver checado, aplica estilo na label seguinte */
input[type="radio"]:checked+label.btn-purple {
    background-color: white;
    color: #6f42c1;
    border: 1px solid #6f42c1;
}